<h1 class="main-heading">Modules</h1>
<div class="modules">
  <p>
    Virtual Rikubetzu is built ground up with modules. You can find all the
    modules here.
  </p>
  <ul class="options">
    <li>
      <div class="heading">
        <h3>Air-flow Module</h3>
        <label
          >Module that enables the understanding of air-flow in space</label
        >
      </div>
      <div class="actions">
        <button>ENABLE</button>
        <button routerLink="airflow">SETUP</button>
      </div>
    </li>
  </ul>
</div>
